{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

    <header>
        <div class="navbar">
            <div class="navbar-logo border">
                <div class="logo"></div>
            </div>

            <div class="address border">
                <div class="deliver"><p>Deliver to</p></div>
                <div class="loc-icon">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="loc">India</p>
                </div>
            </div>

            <div class="search-bar">
                <select class="dropdown">
                    <option>All</option>
                    <option></option>
                </select>
                <input class="search-box" type="text" placeholder=" Search Amazon"/>
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

            <div class="country border" >
                <div class="flag"></div>
                <select class="language">
                    <option>EN</option>
                </select>
            </div>
            <div class="sign-in border">
                <p>Hello, sign in</p>
                <div class="lists">
                    <p>Accounts & Lists</p>
                    <i class="fa-solid fa-angle-down"></i>
                </div>   
            </div>
            <div class="Return border">
                <p>Returns</p>
                <div class="order">
                    <p>& Orders</p>
                </div>   
            </div>
            <div class="cart border">
                <span>0</span>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>Cart</p>
                </div>
            </div>
        </div>
        <div class="panel">
            
            <div class="panel-menu border">
                <i class="fa-solid fa-bars"></i>
                <p>All</p>
            </div>
            <div class="panel-options">
                <p>Today's Deals</p>
                <p>Customer Service</p>
                <p>Registry</p>
                <p>Gift Cards</p>
                <p>Sell</p>
            </div>
            <div class="panel-gstore border">
                <p>Shop the Gaming Store</p>
            </div>
        </div>
    </header>
    <div class="hero-section">
        <div class="hero-msg">
            <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery.<a href="https://www.amazon.com/">  Click here to go to amazon.in</a></p>
        </div>
    </div>

    <div class="shopping-section">
        <div class="box">
            <div class="box-content">
                <h2>Bed Covers under 50$</h2>
                <div class="box-img"><img src="{% static 'images/box1.jpg' %}"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Personal Care</h2>
                <div class="box-img"><img src="{% static 'images/box2.jpg' %}"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Furniture</h2>
                <div class="box-img"><img src="{% static 'images/box3.jpg' %}"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Electronics</h2>
                <div class="box-img"><img src="{% static 'images/box4.jpg' %}"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Beauty Products</h2>
                <div class="box-img"><img src="{% static 'images/box5.jpg' %}"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Pet Care</h2>
                <div class="box-img"><img src="{% static 'images/box6.jpg' %}"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Toys for Children</h2>
                <div class="box-img"><img src="{% static 'images/box7.jpg' %}"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Fashionable Clothes</h2>
                <div class="box-img"><img src="{% static 'images/box8.jpg' %}"></div>
                <p>See more</p>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer1">Back to top</div>
        <div class="footer2">
            <div class="moreinfo">
                <p>Get to Know Us</p>
                <a>Careers</a>
                <a>Blog</a>
                <a>About Amazonv</a>
                <a>Investor Relations</a>
                <a>Amazon Devices</a>
                <a>Amazon Science</a>
            </div>
            <div class="moreinfo">
                <p>Make Money with Us</p>
                <a>Sell products on Amazon</a>
                <a>Sell on Amazon Business</a>
                <a>Sell apps on Amazon</a>
                <a>Become an Affiliate</a>
                <a>Advertise Your Products</a>
                <a>Self-Publish with Us</a>
            </div>
            <div class="moreinfo">
                <p>Amazon Payment Products</p>
                <a>Amazon Business Card</a>
                <a>Shop with Points</a>
                <a>Reload Your Balance</a>
                <a>Amazon Currency Converter</a>
                <a>Manage Your Content and Devices</a>
                <a>See More Make Money with Us</a>    
            </div>
            <div class="moreinfo">
                <p>Let Us Help You</p>
                <a>Amazon and COVID-19</a>
                <a>Your Account</a>
                <a>Your Orders</a>
                <a>Shipping Rates & Policies</a>
                <a>Returns & Replacements</a>
                <a>Help</a>
            </div>
        </div>
        <div class="footer3">
            <div class="footer3-logo"></div>
        </div>
        <div class="footer4">
            <div class="copyrights">
                <a>Conditions of Use</a>
                <a>Privacy Notice</a>
                <a>Consumer Health Data Privacy Disclosure</a>
                <a>Your Ads Privacy Choices</a>
            </div>
            <div class="copyrights">
                <a>© 1996-2024, Amazon.com, Inc. or its affiliates</a>
            </div>
        </div>
    </footer>
</body>

</html>


